<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <h1>Developers Jobs</h1>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<div>
  <!-- <header><img src="../assets/logo.svg" alt="fairhouse">Fairhouse</header> -->
  <section>
    <app-nav-bar></app-nav-bar>
    <!-- <app-housing-list [locationList]="housingLocationList"
      (locationSelectedEvent)="updateSelectedLocation($event)"></app-housing-list> -->
    <article>
      <ng-container *ngIf="selectedLocation">
        <img [src]="selectedLocation.photo">
        <p>{{selectedLocation.name}}</p>
        <p>{{selectedLocation.availableUnits}}</p>
        <p>{{selectedLocation.city}}, {{selectedLocation.state}}</p>
        <p>{{selectedLocation.laundry ? "Has laundry" : "Does not have laundry"}}</p>
        <p>{{selectedLocation.wifi ? "Has wifi" : "Does not have wifi"}}</p>
      </ng-container>
    </article>
    <router-outlet></router-outlet>
  </section>
</div>